<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="header">
    <a href="index">Login/Register</a>
    <div class="header-right">
      <a href="index">Music Directory</a>
    </div>
  </div>

    {{{body}}}

    {{!-- Footer for each page --}}
    <footer>
    Branden Yoshaev || COMP-2068 || Assignment 2B
  </footer>
  </body>
</html>
