<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="header">
    <a href="/">Login/Register</a>
    <div class="header-right">
      <a href="/">Music Directory</a>
    </div>
    <div>
      <a href="https://github.com/login/oauth/authorize?client id=1ab2e0e9353992ad4712">Sign In with Github</a>
    </div>
  </div>

    {{{body}}}

    {{!-- Footer for each page --}}
    <footer>
    Branden Yoshaev || COMP-2068 || Assignment 2B
  </footer>
  </body>
</html>
